#header {
	padding:60px;
	text-align: center;
	background-color: orange;
	color: teal;
	font-size: 25px;
}

h1{
	text-align: center;
	color: teal;
}
h2{
	text-align: center;
	color: teal;
}
h3{
	text-align: center;
	color:aqua;
}
h4{
	text-align: center;
	color:aqua;
}
h5{
	text-align: center;
	color: green
}

h6{
	text-align: center;
	color: green
}

p{
	text-align: left;
	color: black
}

#main {
	padding: 30px;
	background-color: grey;
	font-size: 15px;
}
#footer{
	padding:60px;
	text-align: center;
	background-color: orange;
	color: teal;
	font-size: 25px;
}